<style>
  img {
    display: block;
    width: 75px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/">
  <div 
    style="
      width: 50px; 
      height: 50px; 
      background-color: black;
      display: inline-block;
    "
    role="img"
    aria-label="Blog Logo"
  ></div>
</a>
